name: Release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write
  id-token: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: rustup target add wasm32-unknown-unknown
      - run: |
          cargo build --release -p dprint_plugin_markup --target wasm32-unknown-unknown
          cp target/wasm32-unknown-unknown/release/dprint_plugin_markup.wasm dprint_plugin/deployment/plugin.wasm
      - name: Validate version
        run: |
          bash dprint_plugin/deployment/validate-version.sh
      - name: Generate latest.json
        run: |
          bash dprint_plugin/deployment/generate-latest-json.sh
      - name: Publish dprint plugin
        uses: softprops/action-gh-release@v2
        with:
          files: |
            dprint_plugin/deployment/plugin.wasm
            dprint_plugin/deployment/schema.json
            dprint_plugin/deployment/latest.json
